<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <header></header>
    <section>
      {{{body}}}
    </section>
    <footer>
      <p>&copy; 2025. All rigths reserved</p>
    </footer>
  </body>
</html>